Language: Cpp
BasedOnStyle: LLVM
InsertNewlineAtEOF: true
IndentWidth: 4
ColumnLimit: 80
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveMacros: Consecutive
AlignConsecutiveShortCaseStatements:
  Enabled: true
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
IndentPPDirectives: BeforeHash