CompileFlags:
  CompilationDatabase: builddir
  BuiltinHeaders: QueryDriver
Diagnostics:
  ClangTidy:
    Add: [
      readability-*,
      cppcoreguidelines-*,
      bugprone-*,
      modernize-*,
      performance-*,
      misc-*
    ]
    Remove: [
      readability-function-cognitive-complexity,
      cppcoreguidelines-owning-memory,
      cppcoreguidelines-avoid-goto,
      modernize-use-trailing-return-type,
      modernize-type-traits
    ]
InlayHints:
  BlockEnd: true
